---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Brands as Props } from '~/types';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  brands = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const logoSize = {
  gold: 250,
  silver: 200,
  bronze: 100,
};
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  {
    Object.entries(brands).map(([type, group]) => (
      <div class="flex flex-wrap justify-center gap-x-3 sm:gap-x-6 lg:gap-x-12">
        {icons &&
          icons.map((icon) => <Icon name={icon} class="py-3 lg:py-5 w-12 h-auto mx-auto sm:mx-0 text-gray-500" />)}
        {group &&
          group.map(
            (item) =>
              item.src && (
                <div class="flex justify-center items-center col-span-1 my-2 lg:my-4 p-8 rounded-md dark:bg-gray-200 w-500">
                  <a href={item.url} target="_blank">
                    <Image
                      src={`~/assets/images/pereira-tech-day/sponsors/${item.src}`}
                      alt={item.alt || ''}
                      loading="lazy"
                      width={logoSize[type || 'gold']}
                    />
                  </a>
                </div>
              )
          )}
      </div>
    ))
  }
</WidgetWrapper>
