---
import type { Collaborators as Props } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  collaborators = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  {title || subtitle || (tagline && <Headline title={title} subtitle={subtitle} tagline={tagline} />)}

  <div class="flex flex-wrap justify-center">
    {
      collaborators &&
        collaborators.map(
          (collaborator) =>
            collaborator && (
              <div class="flex flex-col flex-wrap items-center sm:w-[10rem] w-full my-2 lg:my-4 py-1 px-3">
                <a
                  class="text-muted dark:text-gray-400  text-md p-2.5 items-center text-center"
                  target="_blank"
                  href={collaborator.socialLink}
                >
                  <Image
                    src={collaborator.image}
                    alt={collaborator.name || ''}
                    class="max-h-40 max-w-40 mb-2 rounded-full"
                  />
                  <Fragment set:html={collaborator.name} />
                </a>
              </div>
            )
        )
    }
  </div>
</WidgetWrapper>
