---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import Headline from '~/components/blog/Headline.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Layout from '~/layouts/PageLayout.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate }, ['meetup-com']);
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Bienvenido a nuestro blog, un espacio dedicado a la tecnología y las comunidades. Aquí encontrarás noticias, tutoriales, recursos y otros contenidos interesantes relacionados con el mundo tech. Nuestro objetivo es compartir conocimientos, fomentar el aprendizaje y conectar con entusiastas de la tecnología. Desde guías prácticas hasta novedades en la industria, este es tu lugar para estar al día y mejorar tus habilidades. Únete a nuestra comunidad y participa en la conversación. ¡Esperamos que disfrutes del contenido y encuentres inspiración en cada artículo!"
    >
      El Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
