---
import type { Testimonial } from '~/types';
import { Icon } from 'astro-icon/components';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import Image from '~/components/common/Image.astro';
import Steps from '~/components/widgets/Steps.astro';
import Brands from '~/components/widgets/Brands.astro';
import EventsLayout from '~/layouts/EventsLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Collaborators from '~/components/widgets/Collaborators.astro';
const PereiraTechDayLogo = '~/assets/images/logos/logo-pertechday.png';

import '@fontsource/bebas-neue';
import '~/assets/styles/pereira-tech-day.css';
import { getPermalink } from '~/utils/permalinks';
import Community from '~/components/widgets/Community.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title:
    'Pereira Tech Talks — Comunidad de desarrolladores e investigadores inquietos y apasionados por compartir y aprender sobre diversos temas de desarrollo e innovación tecnológica.',
  ignoreTitleTemplate: true,
};

const schedule = [
  {
    title: 'Registro <br /> <span class="font-normal">7:00 AM - 8:00 AM</span>',
    icon: 'tabler:forms',
  },
  {
    title: 'Bienvenida <br /> <span class="font-normal">8:00 AM - 8:15 AM</span>',
    icon: 'tabler:microphone-2',
  },
  {
    title: 'Espacio patrocinadores <br /> <span class="font-normal">8:15 AM - 8:26 AM</span>',
    icon: 'tabler:heart-handshake',
  },
  {
    title:
      '¿Cuántos árboles cuesta tu deploy? Preguntas incómodas para devs conscientes <br /> <span class="font-normal">8:26 AM - 9:16 AM</span>',
    description:
      'Ponente Invitado <a href="https://www.linkedin.com/in/karobotco/" target="_blank" class="text-primary-500"><i>Karolina Ladino</i></a>.',
    icon: 'tabler:message',
  },
  {
    title:
      'El camino estrecho , “ganar” en contra de la probabilidad <br /> <span class="font-normal">9:16 AM - 10:06 AM</span>',
    description:
      'Ponente Invitado <a href="https://www.linkedin.com/in/c%C3%A9sar-camacho-92bb5a21a/" target="_blank" class="text-primary-500"><i>Cesar Camacho</i></a>.',
    icon: 'tabler:message',
  },
  {
    title: 'Refrigerio <br /> <span class="font-normal">10:06 AM - 11:06 AM</span>',
    icon: 'tabler:coffee',
  },
  {
    title: 'Espacio patrocinadores <br /> <span class="font-normal">11:06 AM - 11:14 AM</span>',
    icon: 'tabler:heart-handshake',
  },
  {
    title:
      'Construyendo el Futuro: Desarrollo de Aplicaciones Web Impulsado por Inteligencia Artificial <br /> <span class="font-normal">11:14 AM - 12:04 PM</span>',
    description:
      'Ponente Invitado <a href="https://www.linkedin.com/in/vanessa-marely-aristizabal-angel/" target="_blank" class="text-primary-500"><i>Vanessa Aristizabal</i></a>.',
    icon: 'tabler:message',
  },
  {
    title:
      'El Futuro de la Inteligencia Artificial, o tal vez el No Futuro <br /> <span class="font-normal">12:04 PM - 12:54 PM</span>',
    description:
      'Ponente Invitado <a href="https://www.linkedin.com/in/josejaramillov/" target="_blank" class="text-primary-500"><i>Jose Jaramillo</i></a>.',
    icon: 'tabler:message',
  },
  {
    title: 'Lightning talks <br /> <span class="font-normal">12:54 PM - 01:24 PM</span>',
    icon: 'tabler:bulb',
  },
  {
    title: 'Cierre <br /> <span class="font-normal">01:24 PM - 01:44 PM</span>',
    icon: 'tabler:confetti',
  },
];

const communities = [
  {
    image: '~/assets/images/pereira-tech-day/community/pypereira.png',
    name: 'Python Pereira',
    socialLink: 'https://pypereira.co/',
  },
  {
    image: '~/assets/images/pereira-tech-day/community/jointdev.png',
    name: 'JointDev',
    socialLink: 'https://jointdevweb.firebaseapp.com/',
  },
  {
    image: '~/assets/images/pereira-tech-day/community/perjs.jpeg',
    name: 'PereiraJS',
    socialLink: 'https://perjs.org/',
  },
  {
    image: '~/assets/images/pereira-tech-day/community/ptt.png',
    name: 'Pereira Tech Talks',
    socialLink: 'https://pereiratechtalks.com/',
  },
];

const collaborators = [
  {
    image: '~/assets/images/people/carolina-gomez-trejos.jpg',
    name: 'Carolina Gómez Trejos',
    socialLink: 'https://www.linkedin.com/in/carolinagomezt/',
  },
  {
    image: '~/assets/images/people/jose-felipe-duarte.png',
    name: 'Jose Felipe Duarte',
    socialLink: 'https://www.linkedin.com/in/josefeldc/',
  },
  {
    image: '~/assets/images/people/stiven-cardona-monsalve.jpeg',
    name: 'Stiven Cardona Monsalve',
    socialLink: 'https://www.linkedin.com/in/stiven-cardona-monsalve',
  },
  {
    image: '~/assets/images/people/sergio-florez.png',
    name: 'Sergio Alexander Florez',
    socialLink: 'https://www.linkedin.com/in/xergioalex/',
  },
  {
    image: '~/assets/images/people/alejo-rendon.jpg',
    name: 'Alejandro E. Rendon',
    socialLink: 'https://www.linkedin.com/in/arendondiosa/',
  },
  {
    image: '~/assets/images/people/angelica-aguirre.png',
    name: 'Angelica Aguirre',
    socialLink: 'https://www.linkedin.com/in/angelica-aguirre-castro-50abb5110/',
  },
  {
    image: '~/assets/images/people/melisa-escobar.png',
    name: 'Melisa Escobar Gutierrez',
    socialLink: 'https://www.linkedin.com/in/m3lissaeg/',
  },
];

const speakers: Array<Testimonial> = [
  {
    testimonial:
      'Vanessa es Ingeniera de Sistemas con experiencia como desarrolladora web. Es Google Developer Expert en Angular y tecnologías web, y GitHub Star, reconocida por sus contribuciones a la comunidad. Como creadora de contenido, comparte su pasión por la tecnología, los libros, el diseño, la ilustración y, especialmente, el código, con un enfoque en JavaScript. Vanessa se dedica a fomentar el crecimiento personal y profesional a través de la tecnología',
    name: 'Vanessa Aristizabal',
    job: 'Frontend Developer',
    image: {
      src: '~/assets/images/people/vanessa-aristizabal.jpg',
      alt: 'Vanessa Aristizabal',
    },
    socialLinks: [
      {
        href: 'https://www.linkedin.com/in/vanessa-marely-aristizabal-angel/',
        icon: 'tabler:brand-linkedin',
      },
      {
        href: 'https://twitter.com/vanessamarely',
        icon: 'tabler:brand-x',
      },
      {
        href: 'https://www.instagram.com/vanessamarelycode',
        icon: 'tabler:brand-instagram',
      },
    ],
  },
  {
    testimonial:
      'Karo es Product Manager, ingeniera en robótica, maker y joyera. Lidera PyLadies Bogotá y Colombia. Hace parte de Python Colombia y es co-organizadora de la conferencia PyConCo. Tiene más de 10 años de experiencia creando hardware y software para diversas industrias. Ama trabajar en pro de crear oportunidades y espacios para el crecimiento personal y profesional de las personas.',
    name: 'Karolina Ladino',
    job: 'Product Manager',
    image: {
      src: '~/assets/images/people/karolina-landino.jpeg',
      alt: 'Karolina Ladino',
    },
    socialLinks: [
      {
        href: 'https://www.linkedin.com/in/karobotco/',
        icon: 'tabler:brand-linkedin',
      },
    ],
  },
  {
    testimonial:
      'El Doctor Jaramillo es Ingeniero Electrónico de la Pontificia Universidad Javeriana, Maestría en Instrumentación Física de la Universidad Tecnológica de Pereira, Doctorado en Purdue University, West Lafayette, Indiana, Estados Unidos. El Doctor Jaramillo ha sido profesor y director del Grupo de Investigación Sirius de la Universidad Tecnológica de Pereira y es el Director Cientifico del Laboratory for Research in Complex Systems en California, Estados Unidos.',
    name: 'Jose Alfredo Jaramillo',
    job: 'Investigador y Docente UTP',
    image: {
      src: '~/assets/images/people/jose-alfredo-jaramillo.jpg',
      alt: 'Jose Alfredo Jaramillo Villegeas',
    },
    socialLinks: [
      {
        href: 'https://www.linkedin.com/in/josejaramillov/',
        icon: 'tabler:brand-linkedin',
      },
    ],
  },
  {
    testimonial:
      'Soy César Camacho, con formación en finanzas de la Universidad Sergio Arboleda. Comencé en la industria del transporte masivo, luego introduje una fábrica de software española en Colombia, lo que me abrió las puertas al mundo de la tecnología e innovación. Fundé Osyva, un marketplace B2B en la industria veterinaria, expandiéndolo a cinco ciudades y siendo seleccionado por 500 Startups. Actualmente, cofundé Hubu, una empresa que ofrece analítica de datos con inteligencia artificial para empresas.',
    name: 'César Camacho',
    job: 'Co-Founder en Hubu',
    image: {
      src: '~/assets/images/people/cesar-camacho.jpg',
      alt: 'César Camacho',
    },
    socialLinks: [
      {
        href: 'https://www.linkedin.com/in/c%C3%A9sar-camacho-92bb5a21a/',
        icon: 'tabler:brand-linkedin',
      },
    ],
  },
];

const partnerships = [
  {
    title: 'Oro',
    hasRibbon: true,
    ribbonTitle: 'Recomendado',
    items: [
      {
        description: 'Logo en el sitio web del evento.',
      },
      {
        description: 'Agradecimiento post evento en redes sociales.',
      },
      {
        description: 'Mencion en todas las comunicaciones oficiales del evento.',
      },
      {
        description: 'Lightning talk de 5 minutos.',
      },
      {
        description: 'Publicidad de la empresa en el evento.',
      },
      {
        description: 'Envio de lista de e-mails de los participantes que autorizaron compartir sus datos.',
      },
      {
        description: 'Stand en el evento.',
      },
    ],
    callToAction: {
      text: 'Contactar',
      href: 'mailto:pereiratechtalks@gmail.com',
    },
  },
  {
    title: 'Plata',
    items: [
      {
        description: 'Logo en el sitio web del evento.',
      },
      {
        description: 'Agradecimiento post evento en redes sociales.',
      },
      {
        description: 'Mencion en todas las comunicaciones oficiales del evento.',
      },
      {
        description: 'Lightning talk de 3 minutos.',
      },
      {
        description: 'Publicidad de la empresa en el evento.',
        icon: 'tabler:x',
      },
      {
        description: 'Envio de lista de e-mails de los participantes que autorizaron compartir sus datos.',
        icon: 'tabler:x',
      },
      {
        description: 'Stand en el evento.',
        icon: 'tabler:x',
      },
    ],
    callToAction: {
      text: 'Contactar',
      href: 'mailto:pereiratechtalks@gmail.com',
    },
  },
  {
    title: 'Bronce',
    items: [
      {
        description: 'Logo en el sitio web del evento.',
      },
      {
        description: 'Agradecimiento post evento en redes sociales.',
      },
      {
        description: 'Mencion en todas las comunicaciones oficiales del evento.',
        icon: 'tabler:x',
      },
      {
        description: 'Lightning talk de 3 minutos.',
        icon: 'tabler:x',
      },
      {
        description: 'Publicidad de la empresa en el evento.',
        icon: 'tabler:x',
      },
      {
        description: 'Envio de lista de e-mails de los participantes que autorizaron compartir sus datos.',
        icon: 'tabler:x',
      },
      {
        description: 'Stand en el evento.',
        icon: 'tabler:x',
      },
    ],
    callToAction: {
      text: 'Contactar',
      href: 'mailto:pereiratechtalks@gmail.com',
    },
  },
];

const faqsList = [
  {
    title: '¿Cómo puedo registrarme?',
    description:
      'Debes estar atento de las redes sociales del evento y a nuestra página web, ten presente que solo se tenemos 200 cupos, así que debes estar muy pendiente para reservar y no quedarte por fuera de este gran evento.',
  },
  {
    title: '¿El evento es gratuito?',
    description: 'Si, el evento es totalmente gratuito.',
  },
  {
    title: '¿Cuántos días dura el evento?',
    description: 'El evento es un solo día, el sábado 21 de septiembre.',
  },
  {
    title: ' ¿Si no soy de la UTP puedo asistir?',
    description:
      'Si puedes asistir, este es un evento abierto a todo público interesado en aprender más sobre estos temas.',
  },
  {
    title: '¿Cómo puede mi organización convertirse en patrocinador del evento?',
    description:
      'Escribenos a pereiratechtalks@gmail.com indicando que estás interesado en patrocinarnos, los planes de patrocinio se encuentran en la sección Planes de nuestra página web, pero estamos abiertos a oir nuevas propuestas.',
  },
  {
    title: '¿Qué temas se hablarán en el Pereira Tech Day?',
    description: 'Tendremos un día de Desarrollo de software, Data Science, Machine Learning, infraestructura y más!',
  },
  {
    title: '¿El evento cuenta con alimentación garantizada?',
    description:
      'Gracias a la gestión del equipo organizador contaremos con patrocinadores que permitiran que este evento cuente con refrigerios en la mañana y en la tarde, además de una estación de café durante todo el día.',
  },
  {
    title: 'Solo quiero/puedo asistir durante unas horas. ¿Es posible hacerlo sin registrarse?',
    description:
      'No, contamos con cupos limitados y esperamos que estos los ocupen las personas que puedan asistir durante toda la jornada.',
  },
  {
    title: '¿Recibiré un certificado de asistencia?',
    description: 'Si, este será enviado vía correo electrónico días después del evento.',
  },
  {
    title: '¿Necesito llevar mi computador?',
    description: 'No es necesario, aunque si quieres tomar apuntes lo puedes traer.',
  },
  {
    title: '¿El sitio es seguro?',
    description:
      'Si, pero debes estar pendiente de tus objetos personales debido a que los organizadores no se hacen responsables por pérdidas o hurtos durante el evento.',
  },
  {
    title: 'Código de Conducta',
    description: `
      Con el fin de crear un ambiente sensible y abierto para todos, la organización de <b>Pereira Tech Day</b> está comprometida a establecer un <a href="${getPermalink('/pereira-tech-day/codigo-conducta')}"><i>Código de Conducta</i></a> para la comunidad.
    `,
  },
];

const sponsors = {
  gold: [
    {
      src: 'ase-utp.png',
      alt: 'ASE UTP',
      url: 'https://egresados.utp.edu.co/',
    },
    {
      src: 'github.png',
      alt: 'GitHub',
      url: 'https://gh.io/pereira24',
    },
    {
      src: 'source-meridian.png',
      alt: 'Source Meridian',
      url: 'https://sourcemeridian.com/',
    },
  ],
  silver: [
    {
      src: 'gorilla.png',
      alt: 'Gorilla Logic',
      url: 'https://gorillalogic.com/',
    },
    {
      src: 'dailybot.png',
      alt: 'DailyBot',
      url: 'https://www.dailybot.com/',
    },
    {
      src: 'made-for-germany.png',
      alt: 'Made for Germany',
      url: 'https://www.made-for-germany.eu/apply/',
    },
  ],
  bronze: [],
};

const lightningTalks = [
  {
    title: 'Tu primera charla',
    footerSubtitle: 'Jonathan Alvarez',
    footerDescription: 'Tech Lead / Sr. Software Engineer en Litentry',
    footerImage: {
      src: '~/assets/images/people/jonathan-alvarez.jpeg',
      alt: 'Jonathan Alvarez',
    },
    footerSocialLinks: [
      {
        href: 'http://github.com/jonalvarezz',
        icon: 'tabler:brand-github',
      },
    ],
  },
  {
    title: 'Serleverless en lo cotidiano',
    footerSubtitle: 'Juan Pablo Franco Sanchez',
    footerDescription: 'UTP',
    footerImage: {
      src: '~/assets/images/people/juan-franco.jpg',
      alt: 'Juan Pablo Franco Sanchez',
    },
    footerSocialLinks: [
      {
        href: 'https://github.com/juanpfrancoS',
        icon: 'tabler:brand-github',
      },
    ],
  },
  {
    title:
      '¿En qué momento dejamos de entender qué sucede dentro del Machine Learning? Una intuición sobre arquitecturas y estilos del ML moderno',
    footerSubtitle: 'Sebastian Franco Gomez',
    footerDescription: 'ML Engineer en Expert Intelligence',
    footerImage: {
      src: '~/assets/images/people/sebastian-franco.jpeg',
      alt: 'Sebastian Franco Gomez',
    },
    footerSocialLinks: [
      {
        href: 'https://github.com/thefrancho',
        icon: 'tabler:brand-github',
      },
    ],
  },
  {
    title: 'De 100 Modelos Django a una API GraphQL Completa en 1 Minuto',
    footerSubtitle: 'Juan José Guzmán Cardona',
    footerImage: {
      src: '~/assets/images/people/juan-cardona.png',
      alt: 'Juan José Guzmán Cardona',
    },
    footerSocialLinks: [
      {
        href: 'https://github.com/juanjcardona13',
        icon: 'tabler:brand-github',
      },
    ],
  },
  {
    title: 'Buena comunicación: La clave detrás del éxito en el trabajo en equipo',
    footerSubtitle: 'Abdenago Lopez Hernandez',
    footerDescription: 'QA en Blossom',
    footerImage: {
      src: '~/assets/images/people/abdenago-lopez.jpg',
      alt: 'Abdenago Lopez Hernandez',
    },
    footerSocialLinks: [
      {
        href: 'https://www.linkedin.com/in/alopezhe-800141221',
        icon: 'tabler:brand-linkedin',
      },
    ],
  },
  {
    title: '5 Pasos para Conquistar el Mundo Tech: Mi Viaje de la Ingeniería Química a los Datos',
    footerSubtitle: 'Sary Libreros',
    footerDescription: 'Lider de Comunidad en AWS Women Colombia',
    footerImage: {
      src: '~/assets/images/people/sary-libreros.jpg',
      alt: 'Sary Libreros',
    },
    footerSocialLinks: [
      {
        href: 'https://bento.me/sarylibreros',
        icon: 'tabler:info-circle',
      },
    ],
  },
];
---

<EventsLayout metadata={metadata}>
  <Hero
    id="hero"
    tagline="Septiembre 21, 2024."
    background="background-intro-light dark:background-intro-dark"
    actions={[
      {
        variant: 'secondary',
        text: 'Inscribirse',
        href: 'https://docs.google.com/forms/d/e/1FAIpQLSePyRbPPeBb2GozlgGaB0jf_LzG5S-iAZlQbPcLlV1xkOlt-g/viewform',
      },
    ]}
  >
    <Fragment slot="logo">
      <div class="text-center mb-8">
        <Image src={PereiraTechDayLogo} alt="Pereira Tech Talks" width={120} class="mx-auto" />
      </div>
    </Fragment>
    <Fragment slot="title"> Pereira•Tech•Day </Fragment>
    <Fragment slot="location">
      <a
        href="https://maps.app.goo.gl/XBexd1kkRm4kbsdt6"
        class="font-bold text-red-400 text-lg uppercase"
        target="_blank"><Icon name="tabler:map-pin" class="w-5 h-5 inline" /> UTP: Auditorio Jorge Roa Martínez</a
      >
    </Fragment>
    <Fragment slot="subtitle">
      Un día de Tecnología, Desarrollo de software, Data Science, Machine Learning, Infraestructura y más!
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    bg=""
    items={[
      {
        icon: 'tabler:chart-bubble',
        callToAction: {
          text: 'Inteligencia Artificial',
        },
      },
      {
        icon: 'tabler:code',
        callToAction: {
          text: 'Desarrollo de software',
        },
      },
      {
        icon: 'tabler:shield-lock',
        callToAction: {
          text: 'Ciber Seguridad',
        },
      },
    ]}
    image={{
      src: '~/assets/images/pereira-tech-day/about.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sobre Pereira Tech Day</h2>
      <p>
        <b>Pereira Tech Day</b> es un evento organizado en conjunto por las comunidades de <a
          href="https://pereira.js.org/"><i>PereiraJs</i></a
        >,
        <a href="https://pypereira.co"><i>Python Pereira</i></a>, <a href="https://pereiratechtalks.com"
          ><i>Pereira Tech Talks</i></a
        > y <a href="https://jointdevweb.firebaseapp.com/"><i>Joint Developer</i></a>. Unimos fuerzas para crear un
        evento diverso y enriquecedor, con charlas que abarcan diferentes aspectos de la tecnología.
      </p>
      <br />
      <p>
        En <b>Pereira Tech Day</b>, nuestro objetivo es compartir con la comunidad temas relacionados al mundo
        tecnológico, enfocados en inspirar y motivar a las personas. Las charlas de este año no solo cubrirán temas
        tecnológicos, sino también trayectorias profesionales, desarrollo comunitario y motivación, buscando incentivar
        a los asistentes a seguir explorando, investigando y adentrándose en el maravilloso mundo de la tecnología.
      </p>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Fragment>
  </Content>

  <Steps id="schedule" title="Agenda" items={schedule} classes={{ container: 'max-w-3xl' }} />
  <Testimonials id="speakers" title="Ponentes" testimonials={speakers} />
  <Features2 title="Lightning Talks" tagline="Charlas cortas" columns={3} items={lightningTalks} />
  <Pricing title="Planes de patrocinio" prices={partnerships} />
  <Brands id="sponsors" title="Patrocinadores" brands={sponsors} />
  <Community id="community" title="Organiza" communities={communities} />
  <Collaborators id="collaborators" collaborators={collaborators} />
  <FAQs
    id="faqs"
    title="Preguntas Frecuentes (FAQ)"
    subtitle="Algunas pequeñas preguntas que te pueden sacar algunas dudas. De cualquier forma, si hay algo que no quede claro aquí, por favor escribinos un email y nos pondremos en contacto contigo."
    columns={1}
    items={faqsList}
  />
</EventsLayout>
